# Node
node_modules/
dist/
*.log

# TypeScript
*.tsbuildinfo

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# VSCode
.vscode/

# Docker
*.pid

# OS
.DS_Store
Thumbs.db

# Others
.env.local
.env.*.local

# Frontend build
frontend/build/
frontend/.next/

# Backend build
backend/.pytest_cache/
backend/.mypy_cache/

# Nginx
nginx/logs/
